<!-- <div class="container container-fluid">
  <form class="form-group">
    <div>
      <label for="email">Email:</label>
    <input type="text" class="form-control" placeholder="Your email...">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" class="form-control" placeholder=".........">
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="text" class="form-control" placeholder="..........">
  </div>
  </form>

</div>

<button type="submit" class="btn btn-primary">submit</button> -->





<!-- <div class="container">
  <div class="template">
    <h6 style="color: brown;">Simple "CRUD" functionality.</h6>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>